/* @import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


@import 'tailwindcss';
@plugin '@tailwindcss/typography';

.handwritten {
  font-family: "Indie Flower", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}
